{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1 class="text-center">Вот что я умею:</h1>
  <aside class="col-12 col-md-2">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-10">
    <p>
      Текст страницы "Технологии Текст страницы "Технологии"
      Текст страницы "Технологии Текст страницы "Технологии"
      Текст страницы "Технологии Текст страницы "Технологии"
      Текст страницы "Технологии Текст страницы "Технологии"
      Текст страницы "Технологии Текст страницы "Технологии"
      Текст страницы "Технологии Текст страницы "Технологии"
      Текст страницы "Технологии Текст страницы "Технологии"
      Текст страницы "Технологии Текст страницы "Технологии"
    </p>
  </article>
</div>
{% endblock %}